/* gallery.css */

body {
  background:url('/img/1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.gallery-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image-track {
  display: flex;
  overflow-x: auto;
  margin-bottom: 20px;
}

.image {
  width: 100px;
  height: auto;
  cursor: pointer;
  margin-right: 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
}

.image:hover {
  border-color: #777;
}

.selected-image {
  border-color: #3C6A6F;
}

.large-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
}

.buttons-center {
  text-align: center;
}

.btn-upload, .btn-submit {
  padding: 10px 15px;
  background-color: #3C6A6F;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.btn-upload:hover, .btn-submit:hover {
  background-color: #36676c;
}

