* {
    font-family: 'Poppins', sans-serif;
    
}
body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    justify-content: space-between;
}
/*rezervacija forma */
.offer-details {
    
    margin: 3rem 2rem;
    padding: 3rem;
    box-shadow:  9px 9px 18px #d9d9d9,
             -9px -9px 18px #e7e7e7;
    border-radius: 20px;
    flex: 1;
}

.offer-details h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.offer-details img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
}

.offer-details p {
    margin-bottom: 8px;
}

.reservation-form {
    flex: 1;
}

.reservation-form h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

.reservation-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}


.input {
    max-width: 100%;
    background-color: #ffffff;
    color: #242424;
    padding: .15rem .5rem;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: 0.5px solid #73969B;
    line-height: 2.15;
    box-shadow: 0px 5px 15px -10px;
  }
  
  .input:focus {
    border-bottom: 2px solid #3C6A6F;
    border-radius: 4px 4px 2px 2px;
  }
  
  .input:hover {
    outline: 1px solid lightgrey;
  }

  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #3C6A6F;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    max-width: 100%;
    transition: all 0.5s;
    cursor: pointer;
   }
   
   .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   
   .button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   
   .button:hover span {
    padding-right: 15px;
   }
   
   .button:hover span:after {
    opacity: 1;
    right: 0;
   }

/* detalji ponude */
.flip-card {
    width: 40%;
    height: 80vh;
    perspective: 1000px;
    font-family: sans-serif;
    margin-top: 2rem;
}

.title {
    font-size: 3em;
    font-weight: 900;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; 
    color: white;
}
.offer-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid #3c6a6f;
    border-radius: 1rem;
    transform-origin:center;
}

.flip-card-front {
    color: #3c6a6f;
    z-index: 1; 
}

.flip-card-back {
    background: linear-gradient(to bottom, #73969b, #65685e);
    color: white;
    transform: rotateY(180deg);
}

.description {
    font-size: 1em;
}

.price {
    font-size: 1.2em;
}
