* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    justify-content: space-between;
}

.offer-details {
    margin: 3rem 2rem;
    padding: 3rem;
    box-shadow: 9px 9px 18px #d9d9d9, -9px -9px 18px #e7e7e7;
    border-radius: 20px;
    flex: 1;
}

.offer-details h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.offer-details img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
}

.offer-details p {
    margin-bottom: 8px;
}

.reservation-form {
    flex: 1;
}

.reservation-form h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

.reservation-form input {
    width: 100%;
    padding: 8px;
}

.input {
    max-width: 100%;
    background-color: #ffffff;
    color: #242424;
    padding: .5rem .5rem;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: 0.5px solid #73969B;
    line-height: 2.15;
    box-shadow: 0px 5px 15px -10px;
}

.input:focus {
    border-bottom: 2px solid #3C6A6F;
    border-radius: 4px 4px 2px 2px;
}

.input:hover {
    outline: 1px solid lightgrey;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #3C6A6F;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    max-width: 100%;
    height: 3em;
    transition: all 0.5s;
    cursor: pointer;
}
.middle{ 
    margin-top: 2rem;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 15px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.flip-card2 {
    width: 40%;
    height: 80vh;
    perspective: 1000px;
    font-family: sans-serif;
    margin-top: 2rem;
}

.title {
    font-size: 3em;
    font-weight: 900;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
}

.offer-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.flip-card2-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card2:hover .flip-card2-inner {
    transform: rotateY(180deg);
}

.flip-card2-front,
.flip-card2-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid #3c6a6f;
    border-radius: 1rem;
    transform-origin: center;
}

.flip-card2-front {
    color: #3c6a6f;
    z-index: 1;
}

.flip-card2-back {
    background: linear-gradient(to bottom, #73969b, #65685e);
    color: white;
    transform: rotateY(180deg);
}

.description {
    font-size: 1em;
}

.price {
    font-size: 1.2em;
}

.offers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.offers {
    width: 20%;
    margin: 10px;
}

.card2 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    height: 24em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card2:hover {
    transform: scale(1.05);
}

.card2-img {
    width: 100%;
    height: 10em;
    overflow: hidden;
    object-fit: cover;
    border-radius: 5px;
}

.card2-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card2-body {
    text-align: center;
}

.card2-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    padding-top: 0.5em;
}

.card2-text1 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1em;
    font-weight: 800;
}

.card2-text {
    font-size: 0.8em;
    margin: 0;
}

.button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 4px;
    background-color: #3C6A6F;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    width: 100%;
    height: 3em;
    transition: all 0.3s;
    cursor: pointer;
    margin: auto;
    
}

.button1:hover {
    text-decoration: none;
    border: 1px solid #3C6A6F;
    color: #3C6A6F;
    background-color: #fff;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .offer-details,
    .reservation-form,
    .flip-card2,
    .offers {
        width: 90%;
        margin: 10px 0;
    }

    .flip-card2 {
        height: auto;
        margin-top: 1rem;
    }

    .offer-details,
    .reservation-form {
        padding: 2rem;
    }

    form {
        max-width: 100%;
    }

    .reservation-form input {
        width: calc(100% - 16px);
    }

    .button {
        max-width: 100%;
    }
    .middle h1 { 
        font-size: 1.5em;
    }
}


@media (max-width: 940px) and (min-width: 768px) {
    .card2-title {
        font-size: 1.25em; 
    }
    .card2-text1 {
        font-size: 0.875em; 
    }

    .card2-text {
        font-size: 0.67em;
    }
    .button1 { 
            font-size: 0.875em; 
            height: 2.5em;
        }
    
    .middle h1 { 
        font-size: 2em;
    }
}
.error-message {
    color: red;
    font-weight: 600;
}