/* Base Styles */
body {
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

/* Animation Keyframes */
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Titles and Headings */
.h1-title { 
    background-color: rgba(60,106,111, 0.5);
    animation: 1.2s ease-out 0s 1 slideInFromTop;
}

.custom-card .card-title {
    font-size: 2em;
}

/* Form Styling */
.search-form-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center;     
}

.form-container {
    animation: 1.2s ease-out 0s 1 slideInFromTop;
    visibility: visible;     
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.15625em; 
    background-color: rgba(60,106,111, 0.5);
    color: white;
    padding: 0.625em;
    align-items: center;
}

.form-row .col-md-4, 
.form-row .col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form-row label { 
    color: white;
}

.form-control{
    border-radius: 15px;
    width: 100%;
    margin: 0 auto;
}

button[type="submit"] {
    border-radius: 15px;
    width: auto;
    margin: 10px auto; 
    display: block;
}

.card {
    display: flex;
    flex-direction: row;
    height: 3em;
    max-width: 34.375em;
    border-radius: 2.15625em;
    width: 100%;
    z-index: 1;
    margin-top: 2vh !important;
    margin-left: 0.1vh !important;
    border: 1px solid rgb(59, 59, 59);
    transform: scale(0.8);
    transition: transform 0.3s ease;
    
}


.card-img-top {
    height: 50%;
    object-fit: cover;
}

.card-text-top, .card-text-bottom {
    height: 25%;
}

.custom-card {
    margin: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 460px;
    min-width: 34.375em;
}

.card-text-top {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image-container, .card-text-container {
    width: 60%;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text-container {
    display: flex;
    flex-direction: column;
}

.card-text-bottom {
    flex: 1;
    position: relative;
    padding-left: 1.3em;
}

.card-text-bottom .btn {
    position: absolute;
    bottom: 10px;
    right: 80px;
    text-align: center;
}

.custom-card .card-img-top {
    height: 18.75vh;
}

.custom-card .card-body {
    padding: 1.25vh;
}

.custom-card .card-text {
    font-size: 1.109375em;
}
.card:hover {
    transform: scale(0.84);
    z-index: 2;
}


/* Container Styling */
.cards-container {
    background-color: rgba(60,106,111, 0.5);
    border-radius: 2.5vh;
    position: relative;
    overflow: visible;
    visibility: hidden;
    animation: 1.2s ease-out 0s 1 slideInFromBottom;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cards-container.active {
    visibility: visible;
}

/* Background Styling */
#particle-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
/* Vise button styling */
.buttonn {
    padding: 1.5em 3.5em;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-left: 3.4em;
    margin-bottom: 1em;
}

.buttonn:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.buttonn:active {
    transform: translateY(-1px);
}

  /* Pretrazite button styling*/
  .button1 {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .button1:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .button1:active {
    transform: translateY(-1px);
  }
  
/* Media Queries for Responsive Design */
@media (min-width: 768px) and (max-width: 1165px) {
    .custom-card {
        flex: 0 0 calc(50% - 10px);
        max-width: calc(50% - 10px);
    }
}

@media (min-width: 1165px) {
    .custom-card {
        flex: 0 0 calc(33.33% - 10px);
        max-width: calc(33.33% - 10px);
    }
}

@media (max-width: 1347px) {
    .form-row .col {
        flex: 0 0 calc(33.33% - 10px);
    }
}


@media (max-width: 1220px) {
    .form-row .col {
        flex: 0 0 100%;
    }
}

@media (max-width: 886px) {
    .form-row .col {
        padding: auto;
        margin: auto;
    }
}

@media (max-width: 767px) {
    .form-row .col,
    .form-row .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 5px 0;
    }

    button[type="submit"] {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .form-row .col-md-4, 
    .form-row .col {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .btn-outline-dark {
        padding: 8px 10px;
        font-size: 14px;
        min-width: 100px;
    }
}
