*{
    box-sizing: border-box;

}
body{
     
    font-family: 'Poppins', sans-serif;
}
body h3 { 
    font-size: medium;
    text-align: center;
    padding-top: 1rem;
}
body h1 { 
    padding-top: 1rem;
    text-align: center;
}
/*search  sekcija*/
.search-bar{
    background: linear-gradient(rgba(0, 0, 0, 1), transparent), url('/img/search-back.jpg');
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #3C6A6F;
    
    
}

.form-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px 10px 30px 10px;
    padding-top: 10px; 
    padding-bottom: 30px !important; 
}
   
.form-row button {
    margin-top: 3.3vh;
}



.button-container {
    margin-top: 29.6px;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.text h3 { 
    padding-top: 5rem;
    color: white;
    font-weight: 100;
    font-size: 1.2rem;
    
}
.text h1 { 
    padding-top: 2rem;
    font-weight: 500;
    
}
.prva-boja {
    color: #F0EFF5; 
}

.druga-boja {
    color: #73969B;
}
.form-row label { 
    color: #3C6A6F;
    font-weight: 800;
}
.search-form{
    height: 25vh;
}
.search-form input { 
    width: 15rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.5);
}
.search-form button { 
    height: 3rem;
    height: 3rem;
}
.form-row { 
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px 10px 30px 10px;
 
 }
.search-form div { 
    padding: 0.5rem;
}
.search-form { 
    width: 75%;
    min-height: 30vh;
}
.search-button {
    padding-top: 1rem;
}
/*middle sekcija*/
.middle-section{ 
    background-color: #3C6A6F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
    padding: 0em 5em;

}
.middle-section h3 { 
    padding-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
    color: white;
}
.middle-section h1{ 
    padding-top: 1rem;
    font-size: medium;
    text-align: center;
    color: white;

}
.benefits{ 
width: 90%;
margin: auto;
display: flex;
min-height: 20vh;
align-items: center;
justify-content: space-evenly;
flex-wrap: wrap;

}
.benefits img  { 
height: 50px;
margin: 1rem;
}

.benefits-icon { 
    border-radius: 55px;
    background: linear-gradient(145deg, #7ba1a6, #68878c);
    box-shadow:  5px 5px 10px #5b777a;


}
/*sekcija ponuda*/
   
   .card-details {
    color: black;
    height: 50%;
    display: flex;
    flex-direction: column;
    place-content: center;
   }
   
   
   .text-body {
    color: #3C6A6F;
    font-size: 0.8em;
    margin:0;
   }
   .text-body1 {
    color: #3C6A6F;
    font-size: larger;
   }

   .text-title {
    font-size: 1.5em;
    font-weight: 800;
    color: #3C6A6F;
    padding-top: 0;
   }

   
   .card:hover {
    border-color: #3C6A6F;
    box-shadow: 0 0.25rem 1.125rem rgba(0, 0, 0, 0.25);
   
}


   
.card:hover .card-button {
    transform: translate(-50%, -6em);
    opacity: 1;
    text-align: center;
    text-decoration: none;
    color: #3C6A6F;
}
.card:hover .text-title { 
    transform: translate(0%, -7em);
    color: white;
    border: 1px solid white;
    background-color: #3C6A6F;
    border-radius: 5px;
    padding-left: 0.3em;
}
.card:hover .card-img { 
    filter: blur(3px);
}
  .card-section{ 
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .card-section h1{ 
    color: #413B2E;
  }
  .card-section h3 { 
    font-size: small;
  }
  .dugme {
    display: inline-block;
    border-radius: 4px;
    background-color: #3C6A6F;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 15rem;
    transition: all 0.5s;
    cursor: pointer;
    margin:3rem;
    text-decoration: none;
   }
   .dugme:hover { 
    text-decoration: none;
    color: white;
   }
   
   .dugme span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   
   .dugme span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
   }
   
   .dugme:hover span {
    padding-right: 15px;
   }
   
   .dugme:hover span:after {
    opacity: 1;
    right: 0;
   }

.card-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    object-fit: cover;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    margin: 1rem 1rem;
    width: 300px;
    border-radius: 10px;
    background: #f3f3f3;
    position: relative;
    overflow: hidden;
    transition: 0.5s ease-out;
}

.card-button {
    transform: translate(-50%, 0); 
    width: 70%;
    border-radius: 1rem;
    border: none;
    background-color: #fff;
    color: #3C6A6F;
    border: 2px solid #3C6A6F;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 15px;
    opacity: 0;
    transition: 0.3s ease-out;
    text-decoration: none;
    display: block;
    justify-content: center;
}
.container {
    max-height: 100vh;
    width: 90%;
    margin: auto;
    font-family: sans-serif;
    display: flex; 
    justify-content: space-around; 
    overflow: hidden;

    z-index: 0;
}
.offer-slide {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.offer-c {
    flex: 0 0 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: flex 0.3s ease; 
  
}


.offer-c:hover {
    flex: 2;
    overflow: visible;
    z-index:auto;

}

.card {
    width: 100%; 
    height: 50vh;
    transform: scale(1.1);
    transition: transform 0.3s ease;
    margin: 3rem 0rem;
   
    

}

.offer-c:hover .card {
    overflow: visible;
    transform: scale(1.1);
}


/* sekcija galerije */
.gallery-section {
    background: linear-gradient(rgba(0, 0, 0, 0.9), transparent), url('/img/gallery-section.jpg');
    min-height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gallery-section h3 {
    padding: 1rem;
    font-size: medium;
    
}
a {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   a.gallery-btn {
    width: 15rem;
    height: auto;
   }
   
   a.gallery-btn .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #3C6A6F;
    border-radius: 1.625rem;
   }
   
   a.gallery-btn .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   a.gallery-btn .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   a.gallery-btn .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   a.gallery-btn .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #98c9cf;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   a:hover .circle {
    width: 100%;
   }
   
   a:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   a:hover .button-text {
    color: #fff;
   }

/*komentar sekcija */

.comment-section {
    display: flex;
    justify-content: space-between;
}

.leave-comment,
.comment-card {
    width: 40%;
    box-sizing: border-box;
}

.leave-comment {
    margin: 4vh 2vh;
    padding: 4vh;
    box-shadow: 0.5vh 0.5vh 1vh #d9d9d9,
                -0.5vh -0.5vh 1vh #e7e7e7;
    border-radius: 1vh;
}

.comment-card {
    padding: 5vh;
    border: 0.1vh solid #ccc;
    display: flex;
    justify-content: space-around;
    height: 15vh;
}

@media (max-width: 768px) {
    .comment-section {
        flex-direction: column;
    }

    .leave-comment,
    .comment-card {
        width: 100%;
    }
}

.comm-btn {
    display: inline-block;
    border-radius: 0.5vh;
    background-color: #3C6A6F;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 2.5vh;
    padding: 1.6vh; 
    width: 15em;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0.5vh;
}

.comm-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.comm-btn span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

.comm-btn:hover span {
    padding-right: 15px;
}

.comm-btn:hover span:after {
    opacity: 1;
    right: 0;
}

.user-comments {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 6.2vh;
    margin-top: 6.2vh; 
}

.comment {
    margin: 1vh;
    padding: 1vh;
    height: 17em;
    width: 12em;
    background: white;
    border-radius: 1vh;
    box-shadow: 0.5vh 0.5vh 1vh #d9d9d9, -0.5vh -0.5vh 1vh #e7e7e7;
    word-wrap: break-word;
    white-space: normal;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.comment h6 {
    font-size: 1.2em;
    font-weight: 600;

}
.comment-info { 
    font-size: 0.7em;
    padding-top: 0rem;
}
.scrollable-comment {
    height: 20em;
    overflow-y: auto;
    margin-bottom: -1.5vh;
    font-size: 1em;
}
.scrollable-comment::-webkit-scrollbar {
    width: 0.5em;
}
 
.scrollable-comment::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(244, 243, 243, 0.3);
    border-radius: 5px;
    border: 1px solid #6f7778;
}
 
.scrollable-comment::-webkit-scrollbar-thumb {
  background-color:#3C6A6F;
  border: 1px solid #3C6A6F;
  border-radius: 5px;
}

.shadow {
    box-shadow: 9px 9px 18px #d9d9d9,
                -9px -9px 18px #e7e7e7;
}

button#nextBtn {
    background-color: #3C6A6F;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    width: 3rem;
    height: 3rem;
    margin-top: 11em;
    margin-right: 2rem;
}
button#nextBtn:hover { 
    background-color: white;
    color: #3C6A6F;
    border: 1px solid #3C6A6F;
    border-radius: 25px;
    text-decoration: none;
    
}

.rating-and-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top:15px;
}

.delete-btn {
    width: 100%;
    display: block;
    margin-top: 10px;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    background-color: #3C6A6F;
    color: white;
    border: 1px solid #3C6A6F;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.delete-btn:hover {
    background-color: white;
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    text-decoration: none;
}

/*kontakt sekcija*/
.contact-text { 
    min-height: 20vh;
    background: #3C6A6F;
    justify-content: center;
    color:white;
}
.contact-text h3 { 
    font-size: medium;
    padding: 2rem;
}
.h1 { 
    font-size: 3rem;
    padding-left: 2rem;
}
.scroller {
    height: 3em;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    width: 15em;
  }
  .scroller > span {
    position: absolute;
    top: 0;
    animation: slide 3s infinite;
    font-weight: bold;
  }
  @keyframes slide {
    0% {
      top: 0;
    }
    25% {
      top: -1.2em;
    }
    50% {
      top: -2.4em;
    }
    75% {
      top: -3.6em;
    }
  }


.contact-section {
    display: flex;
    justify-content: space-between;
}

.contact-container {
    width: 45%; 
    padding-right: 2rem;
    padding-top: 2rem;
}

.google-map {
    width: 60%;
    height: 500px; 
    padding-left: 2rem;
    padding-top: 2rem;
    
}
iframe { 
    border: none;
    box-shadow:  9px 9px 18px #d9d9d9,
             -9px -9px 18px #e7e7e7;
    border-radius: 20px;
}

#more {display: none;}

.btn { 
    display: inline-block;
    border-radius: 4px;
    background-color: #3C6A6F;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size:10px;
    padding: 10px;
    width: 5rem;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
