
body{
     
    font-family: 'Poppins', sans-serif;
}
.search-bar{
    background: linear-gradient(rgba(0, 0, 0, 1), transparent), url('/img/search-back.jpg');
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    
    
}

.form-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px 10px 30px 10px;
    padding-top: 10px; 
    padding-bottom: 30px !important; 
}


.button-container {
    margin-top: 29.6px;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.text h3 { 
    padding-top: 5rem;
    color: white;
    font-weight: 100;
    font-size: 1.2rem;
    
}
.text h1 { 
    padding-top: 2rem;
    font-weight: 500;
    
}
.prva-boja {
    color: #F0EFF5; 
}

.druga-boja {
    color: #0B4C84;
}
.form-row label { 
    color: white;
    font-style: bold;
}
.search-form{
    height: 15vh;
}
.search-form input { 
    width: 15rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.5);
}
.search-form button { 
    height: 3rem;
    height: 3rem;
}
.form-row { 
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px 10px 30px 10px;;
}
.search-form div { 
    padding: 0.5rem;
}
.search-form { 
    width: 75%;
    min-height: 30vh;
}
.search-button {
    padding-top: 1rem;
}
.middle-section{ 
    background-color: #598EC2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40vh;

}
.middle-section h3 { 
    padding-top: 1rem;
    font-size: 2rem;
    text-align: center;
    color: white;
}
.middle-section h1{ 
    padding-top: 1rem;
    font-size: medium;
    text-align: center;
    color: white;

}
.cards{ 
width: 90%;
margin: auto;
display: flex;
min-height: 40vh;
align-items: center;
justify-content: space-evenly;
flex-wrap: wrap;

}
.cards img  { 
height: 50px;
max-width: 60%;
margin: 2rem;
}

.card-icon { 
    border-radius: 60px;
    background: #598EC2;
    box-shadow:  20px 20px 60px #4c79a5,
                 -20px -20px 60px #66a3df;


}

.container{
    padding-top: 2rem;
    display:grid;
    grid-template-columns: 350px 350px 350px;
grid-template-rows: 350px 350px 350px;
align-items: stretch;
grid-gap: 20px;
}