body {
    background: url('/img/1.jpg');
    background-size: cover;
    min-height: 100%;
    border-radius: 8px; /* Add border-radius for slightly rounded edges */
}

main {
    margin-left: 260px;
}

img {
    max-width: 100%;
    height: auto;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(60, 106, 111, 0.5);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the heading */
h1 {
    text-align: center;
    color: #333;
}

/* Style the form inputs and button */
input[type="text"],
input[type="file"],
input[type="date"],
input[type="number"],
textarea{
    width: 100%;
  padding: 10px;
  font-size: 0.75rem;
  border: 2px #3C6A6F solid;
  border-radius: 5px;
  background: #ffffff;
  margin-top: 5px;
  box-sizing: border-box;
  padding-bottom: 15px;
}
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}


button {
    background-color: #29494d !important;
    color: #fff;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3C6A6F !important;
}
