
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    overflow-x: hidden;
}

main {
    margin-left: 260px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background: url('/img/1.jpg');
    overflow-x: hidden;
    background-size: cover; /* Ensure the background image covers the container */
    min-height: 100%;
}

main h1 {
    color: #407d82;
}

.form-wrapper {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(60,106,111, 0.5);
    padding: 20px;
    width: 60em;
    border-radius: 10px;
    margin-bottom: 20px;
}
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin-bottom: 15px;
}

.form-control {
    border-radius: 15px;
    width: 100%;
    padding: 8px;
}

.btn-primary {
    background-color: #407d82;
    border-radius: 15px;
    width: 40%;
    padding: 10px;
    margin-top: 15px;
    border:none;
    transition: all 0.1s ease-in-out;
   
}
.btn-primary:hover{
    background-color:  #5dabb2;
}


table {
    color:white;
    background-color: rgba(60,106,111, 0.5);
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

}
td{
    padding: 10px;
}

.btn-success {
    margin: 5px;
    border-radius: 5px;
    width: 120px;
    background-color: #29494d !important;
    border: #29494d !important;
}

.btn-success:hover {
    background-color: #3C6A6F !important;
}

.btn-danger {
    margin: 5px;
    border-radius: 5px;
    width: 120px;
    background-color: rgb(94, 38, 38) !important;
    border: rgb(94, 38, 38) !important;
}

.btn-danger:hover {
}
tr:nth-of-type(odd) { 
    color:white;
    background-color: rgba(116, 143, 146, 0.5);
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}


@media screen and (max-width: 1200px) {
    main {
        margin-left: 50px;
    }
    .form-wrapper {
        flex-direction: column; /* Stack form elements vertically on smaller screens */
        width: 100%; /* Make the form take full width */
    }

    .form-group {
        width: 100%; /* Make form groups take full width */
        margin-bottom: 10px; /* Adjust the margin for smaller screens */
    }

    .btn-primary {
        width: 100%; /* Make the button take full width */
    }
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "User id"; }
	td:nth-of-type(2):before { content: "Destinacija"; }
	td:nth-of-type(3):before { content: "Opis"; }
	td:nth-of-type(4):before { content: "Slika"; }
	td:nth-of-type(5):before { content: "Rezervacija"; }
	td:nth-of-type(6):before { content: "Datum polaska"; }
	td:nth-of-type(7):before { content: "Datum povratka"; }
    td:nth-of-type(8):before { content: ""; }

	
}
