main{
    margin-top: 50px;
    margin-left: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    max-width: 1000px;
    width: 90%; /* Ensure the form takes the full width within main */
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(60, 106, 111, 0.5);
    border-radius: 10px;
    color: #fff;
}
.card-body {
    max-width:1000px;
    width: 90%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(60, 106, 111, 0.5);
    margin: 10px;
    border-radius: 10px;
    box-sizing: border-box;
  }

/* Style form inputs */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 12px;
}
  
.btn-primary {
    background-color: #407d82;
    border-radius: 15px;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    transition: all 0.1s ease-in-out;
  }
  
  .btn-primary:hover {
    background-color: #5dabb2;
  }
  @media screen and (max-width: 1200px) {
    main {
      margin-left: 50px;
      
    }
    
  }
  